.DS_store

learning_node/first_api/node_modules
learning_node/first_api/yarn.lock

weather-app/utils/key.js
weather-app/node_modules
weather-app/package-lock.json

web-server/node_modules
web-server/package-lock.json
web-server/src/utils/key.js

task-manager/node_modules
task-manager/package-lock.json

user-api/node_modules
user-api/yarn.lock

client-api/node_modules
client-api/yarn-lock
